airflow.cfg
airflow.db
airflow_settings.yaml
astro

# Git
.git
.gitignore

# Python
.venv/
venv/
**/__pycache__/
*.pyc

# Astro
.astro/

# Documentação (não necessária dentro do container)
docs/
README.md
LICENSE

# Dados Temporários e Logs locais
tmp/
logs/
*.ipynb
scripts/old/

# Ambientes locais
.env